// ****************************************
// BASE
// ****************************************
body {
  background-color: $white;
}
small {
  display: block;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  color: $secondary;
}

blockquote {
  color: $dark_grey;
}

p {
  @include margin-bottom(1);
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(0);
  }
  @include media(s2) {
    @include type-setting(0);
  }
  @include media(s3) {
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
}

img {
  @include margin-bottom(1);
}

h1 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(2);
  }
  @include media(s2) {
    @include type-setting(3);
  }
  @include media(s3) {
    @include type-setting(3);
  }
  @include media(s4) {
    @include type-setting(6);
  }
}

h2 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(1);
  }
  @include media(s3) {
    @include type-setting(2);
  }
  @include media(s4) {
    @include type-setting(3);
  }
  @include media(s5) {
    @include type-setting(4);
  }
}

h3 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    font-weight: bold;
    @include type-setting(1);
  }
  @include media(s2) {
    @include type-setting(1);
    // background-color: red;
  }
  @include media(s3) {
    @include type-setting(2);
  }
  @include media(s4) {
    @include type-setting(3);
  }
}

h4,
h5,
h6 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    font-weight: bold;
    @include type-setting(0);
  }
  @include media(s2) {
    @include type-setting(0);
  }
  @include media(s3) {
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
}

dl,
ul {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    // font-weight: bold;
    @include type-setting(0);
  }
  @include media(s2) {
    @include type-setting(0);
  }
  @include media(s3) {
    @include type-setting(0);
    // background-color: red;
  }
  @include media(s4) {
    @include type-setting(1);
  }
  @include media(s5) {
    @include type-setting(2);
  }
}
small,
h6, h5 {
  text-align: left;
  @include padding-bottom(1);

  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(0);
  }
}



// ****************************************
// LAYOUT | MARGINS... SPACES
// ****************************************


// .golden-box {
//   height: 100px;
//   width: 100px * $phi;
//   // background-color: red;
// }


// ****************************************
// EXTRAS - DEBUGING
// ****************************************

// body * {
//   border: 1px solid grey;
// }
