

// ****************************************
// BASE
// ****************************************


small {
  display: block;
}

// Lists


a {
  // text-decoration: none;
  color: $secondary;
}

blockquote {
  color: $dark_grey;
}

// ****************************************
// LAYOUT | MARGINS... SPACES
// ****************************************

.content {
  @include media(s5) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

// .golden-box {
//   height: 100px;
//   width: 100px * $phi;
//   // background-color: red;
// }


// ****************************************
// EXTRAS - DEBUGING
// ****************************************

// body * {
//   border: 1px solid grey;
// }
