// Colors
$white: #fff;
$black: #000;
$black_light: #2d2d2d;

$light_grey: #d0d0d0;
$grey: #373737;
$dark_grey: #242424;

$primary: $black_light;
$secondary: #4a2e26;
$tertiary: $light_grey;

$alpha_black: rgba($grey, 0.5);
$alpha_white: rgba($white, 0.5);