// Colors
$white: #f4f4f4;
$black: #000;
$black_light: #2d2d2d;

$light_grey: #dedcdc;
$grey: #373737;
$dark_grey: #242424;

$primary: $black_light;
$secondary: #fe8e88;
$tertiary: $light_grey;

$alpha_black: rgba($black, 0.9);
$alpha_white: rgba($white, 0.5);

// section {
//     background-color: #fff;
//   }